<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	
	<style>
		#chat{
			height: 500px;
		}
		#salaChat{
			display: none;
		}
		#cuadroChat{
			float: left;
			border: 1px #000 solid;
		}
	</style>
</head>
<body>
	
	<div id="nickIngreso">
		<p>Ingrese su nombre de usuario:</p>
		
		<p id="nickError"></p>
		<!-- Formulario de solicitud del nick -->
		<form id="nickForm">
			<input size="35" id="nickName"></input>
			<input type="submit" value="Registrarse"></input>
		</form>
	</div>
	<!-- End -->
	
	<!-- Sala del chat: Texto, Video y Audio -->	

	<div id="salaChat" >
		<!--<button id="botonIniciar" type="button">Iniciar</button><button id="botonParar" type="button">Parar</button>-->
		
		<button id="botonIniciar"> Iniciar </button><button id="botonParar" disabled="true"> Fin </button>
		<!-- Apartado para el chat -->
		<div id="cuadroChat" >
			<!-- mensajes del chat -->
			<div id="chat" ></div>

			<!-- Formulario para el envio de mensajes -->
			<form id="enviarMensaje" >
				<input size="35" id="mensaje"></input>
				<input type="submit" value="Enviar"></input>
			</form>

			<button id="botonSiguiente" disabled="true">Siguiente</button>

		</div>

		<!-- Apartado para los usuarios -->
		<div id="usuarios">
			<p>Usuarios En Linea</p>
		</div>
	</div>
	<!-- END -->

	<!-- JQuery -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<!-- Modulo de socket.io -->
	<script src="/socket.io/socket.io.js"></script>


	<script>
		
		//funcion se ejecuta cuando toda la pagina termine de cargar
		$(function(){
			//variable para conectarse al socket
			var socket = io.connect();
			//form para enviar el nick
			var $formUser = $('#nickForm');
			//por si hay nick repetido
			var $nickError = $('#nickError');
			//el nick en si
			var $nick = $('#nickName');
			//usuarios
			var $usuarios = $('#usuarios');
			//form para enviar el mensaje 
			var $formMensaje = $('#enviarMensaje');
			//este es el input, el mensaje en si
			var $mensaje = $('#mensaje');
			//chat, es la variable donde se irá mostrando el chat
			var $chat = $('#chat');
			//boton siguiente
			//var $siguiente = $('#botonSiguiente');
			//boton iniciar
			//var $iniciarChat = $('#botonIniciar');
				
			//cada vez que se haga un submit de un nick, lo enviaremos al servidor
			$formUser.submit(function(e){				

				//Para evitar que se hagan refresh de la página, así solo enviamos el mensaje
				e.preventDefault();
				
				//emitimos un mensaje al servidor de que hay un nuevo usuario
				socket.emit('nuevo usuario', $nick.val(), function(data){
					//Si se retorna true (este es el valor de callback desde el servidor) ingresamos al chat
					if(data){
						$('#nickIngreso').hide();//se oculta el registro
						$('#salaChat').show();//se muestra la sala de chat			
						//document.getElementById("enviarMensaje").disabled = true;			
					}
					//si no, se muestra el error y se solicita un nuevo ingreso de usuario
					else{
						$nickError.html('Nombre de usuario ya existente, intente nuevamente.');
					}
				});
				//Vaciamos el input donde se ingreso el nick
				$nick.val('');
			});

			//Respuesta al mensaje recibido desde el servidor, la cual muestra los usuarios en linea
			socket.on('nicks', function(data){
				var html = '';
				for(i=0; i<data.length; i++){
					html += data[i]+'<br/>'
				}
				$usuarios.html(html); //se guardan en el apartado dejado para los usuarios en el html

			});

			// cada vez que se haga un submit de un mensaje, lo enviaremos al servidor
			$formMensaje.submit(function(e){

				//Para evitar que se hagan refresh de la página, así solo enviamos el mensaje
				e.preventDefault();

				//se emite un mensaje al servidor indicando el envio de un nuevo mensaje, se envia el mensaje tambien
				socket.emit('enviar mensaje', $mensaje.val());				
				//limpiamos el contenido ingresado
				$mensaje.val('');
			});

			//se recibe un mensaje del servidor indicando que se recibe un nuevo mensaje
			
			socket.on('nuevo mensaje', function(data){
				//se muestra el mensaje recibido en la ventana junto con el nich del usuario que lo envio
				$chat.append('<b>'+data.nick+':</b>'+data.msg+"<br/>");
			});

			//si se hace click para iniciar la ruleta de chat
			document.getElementById("botonIniciar").onclick = function(){

				socket.emit('nuevo chat', $nick.val(), function(data){

					if(data){

					}else{
						
					}
				});

				document.getElementById("botonIniciar").disabled = true;
				document.getElementById("botonParar").disabled = false;
				document.getElementById("botonSiguiente").disabled = false;
			}
			//si se hace click para parar la ruleta de chat
			document.getElementById("botonParar").onclick = function(){

				socket.emit('parar chat');

				document.getElementById("botonIniciar").disabled = false;
				document.getElementById("botonParar").disabled = true;
				document.getElementById("botonSiguiente").disabled = true;
			}
			//si se hace click para cambiar de pareja de chat
			document.getElementById("botonSiguiente").onclick = function(){

				socket.emit('cambiar chat');

			}

			socket.on('listo chat', function(data){

				$chat.append("Nuevo chat iniciado");
			});
		});		
		
	</script>
</body>
</html>
